/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.success-snackbar {
  background: #4caf50;
  color: white;
  
  .mat-simple-snackbar-action {
    color: white;
  }
}

.error-snackbar {
  background: #f44336;
  color: white;
  
  .mat-simple-snackbar-action {
    color: white;
  }
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
